{% extends 'base.html.twig' %}

    {% block body %}
<div id="wrapper">
    <div class="catName">
    <h3>{{ name.name}}</h3>
      <div class="row">
          {% for product in products %}
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail textcolor">
                  <a href="{{ path('product_show', { 'id': product.id }) }}" class="thumbnail  ground transition">
                      <img class="img-rounded img-responsive " src="{{ product.image }}" alt="" style="height:250px"/>
                      <h3>{{ product.name}}</h3>

                  </a>
              </div>
          </div>
          {% endfor %}
      </div>

  </div>
</div>

    {% endblock %}