{% extends 'base.html.twig' %}

{% block body %}
    <br>
<div id="wrapper">
    <div class="container">
    <div class="col-md-4">
        </div>
            <div class="col-md-4">
                <div id="users"></div>
                </div>
            <div class="col-md-4">
        </div>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}


{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/ajaxgrid.js') }}"></script>
    <script>
        $('#users').ajaxgrid({
            'dataUrl': '{{ path('admin_users_show') }}',
            'sortableColumns': ['username','email'],
            'filterableColumns': ['username','email'],
            'rowsPerPage': 10,
        });
    </script>
{% endblock %}