{% extends 'base.html.twig' %}
        {% block login %}

            <div class="col-md-4">
            </div>
            <div class="col-md-4" style="border:1px solid;background:#66dd66">
                    <div class="loginform">
                        <div class="error">
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        </div>
                        <form action="{{ path('login') }}" method="post">
                            <label for="username">Username:</label><br>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" /><br>

                            <label for="password">Password:</label><br>
                            <input type="password" id="password" name="_password" /><br>

                            {#
                                If you want to control the URL the user
                                is redirected to on success (more details below)
                                <input type="hidden" name="_target_path" value="/account" />
                            #}
                            <div class="buttonForm">
                            <button class="btn btn-warning btn-sm" type="submit">Login</button>
                            </div>
                            <a href="{{ path('restore') }}">Restore</a>
                        </form>
                    </div>
            </div>
            <div class="col-md-4">
            </div>

        {% endblock %}