.error{
	background: #d62c1a;
	}
#username {
	width:auto
	}
.loginform {
	margin:50px;
    padding:30px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: #66dd66;
	}
.row  {

}
body { 
	 font: 18px/1.5 sans-serif;
	background: #F5F5F5;
	}
h1, h2, h3 { 
	line-height: 1.2; margin: 0 0 .5em; 
	}
h1 { 
	font-size: 36px; 
	}
h2 { 
	font-size: 21px; 
	margin-bottom: 1em; 
	}
h3 {
	color:#0000F0;
	}
p { 
	margin: 0 0 1em 0; 
	}
a { 
	color: #0000F0; 
	}
a:hover { 
	text-decoration: none; 
	}
input {
	width: auto;
	}
code { 
	background: #F5F5F5; 
	max-width: 100px; 
	padding: 2px 6px; 
	word-wrap: break-word; 
	}
#wrapper {
	background: #F5F5F5;
	margin: 1em auto;  
	width: 85%; 
	}
#container { 

	}
#welcome, #status { 
	margin-bottom: 2em; 

	}
#welcome h1 span { 
	display: block; 
	font-size: 75%; 
	}
.buttonForm{
	margin-top:10px;
}
html{
	background: #F5F5F5;
}
#colorLogUser{
	color: #0000F0;
}
