{% extends 'base.html.twig' %}
  {% block main %}
      {% block body %}
            <div id="wrapper">
                <div id="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div id="welcome">
                                <h2><span>Welcome
                                         <div id="colorLogUser">
                                        {{ app.user.username }}
                                             </div>
                                    </span> </h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-3">
                            <p>
                                <a class="btn btn-primary btn-sm" href="{{ path('login') }}">
                                    <i class="fa fa-users" aria-hidden="true">Login here</i>
                                </a>
                                <a class="btn btn-primary btn-sm" href="{{ path('register') }}">
                                    <i class="fa fa-users" aria-hidden="true">Registration</i>
                                </a>
                            </p>


                        </div>
                    </div>
                </div>
            </div>
  {% endblock %}
    {% endblock %}


