<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<p>Hello, {{ username }}!</p>
<p>Here is link to reset your password: <a href="{{url('restore',{'token': token})}} "> Restore now </a></p>

<p>Sincerely yours,GuitarsLand team. </p>
</body>
</html>