<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/email.css') }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Password restore</title>
    <!-- <style> -->
</head>
<body>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center data-parsed="">

                <table align="center" class="container float-center">
                    <tbody>
                    <tr>
                        <td>

                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-6 columns first">
                                        <table>
                                            <tr>
                                                <th>
                                                    <table class="spacer">
                                                        <tbody>
                                                        <tr>
                                                            <td height="16px" style="font-size:16px;line-height:16px;">
                                                                &#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <center data-parsed="">
                                                        <a href="{{ path('homepage') }}" align="center" class="float-center">
                                                            <img src="{{ absolute_url(asset('img/logo.svg')) }}" alt="Логотип"
                                                                 style="width: 150px">
                                                        </a>
                                                    </center>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="small-12 large-6 columns last" valign="middle">
                                        <table>
                                            <tr>
                                                <th>
                                                    <table class="spacer">
                                                        <tbody>
                                                        <tr>
                                                            <td height="16px" style="font-size:16px;line-height:16px;">
                                                                &#xA0;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <h1 class="text-center main-header">
                                                        <strong>Восстановление пароля</strong>
                                                    </h1>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-12 columns first last">
                                        <table>
                                            <tr>
                                                <th>

                                                    <h1 class="text-center">Забыли пароль?</h1>
                                                    <hr>
                                                    <p class="text-center">Чтобы воcстановить пароль, просто нажмите на
                                                        кнопку внизу.</p>
                                                    <hr>
                                                    <table class="button large expand">
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <center data-parsed=""><a href="{{ url('restoreToken', {'token': token}) }}"
                                                                                                      align="center"
                                                                                                      class="float-center">Восстановить
                                                                                    пароль</a></center>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>

                                                </th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </center>
        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>